---
import Layout from "../layouts/MainLayout.astro";
import { projectsData as projects } from "../data/projects";
---

<style>
  h1 {
    text-align: center;
  }
  .container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .card {
    padding: 1em 1.5em;
    border: 2px solid var(--c-white);
  }

  .tags {
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
  }

  .tag {
    padding: 4px;
    font-size: 10px;
    border: 1px solid var(--c-white);
  }

  .links {
    display: flex;
    justify-content: space-around;
  }

  .project-title {
    text-transform: capitalize;
  }
</style>

<Layout title="David Sanderson | Projects">
  <div class="container">
  {projects.map((el) => (
      <div class="card">
        <h2 class="project-title">{el.title}</h2>
        {el.tags && (
          <div class="tags">
            {el.tags.map((tag) => (
              <span class="tag">{tag}</span>
            ))}
          </div>
        )}
        
        {el.description && <p>{el.description}</p>}
        <div class="links">
          {el.repo && <a href={el.repo}>View source</a>}
          {el.url && <a href={el.url}>View live</a>}
        </div>
      </div>
    ))}
     </div>
</Layout>
